replicaCount: 2

image:
  repository: abrahimcse/bloggingapp
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

resources: {}

ingress:
  enabled: false
  hosts:
    - host: example.com
      paths:
        - /

livenessProbe:
  enabled: true
  path: /
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  enabled: true
  path: /
  initialDelaySeconds: 5
  periodSeconds: 10
